@import './variables.less';

// Sizes
html,
body,
#root,
.rs-container,
.rs-content {
  height: 100%;
  width: 100%;
}

.h-100 {
  height: 100%;
}

// Colors
.text-primary {
  color: @primary-color;
}

.bg-light {
  background-color: @light-color;
}
